<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.listeners.MyListeners"/>
    </listeners>
    <test verbose="2"
          name="C:/Users/user/Downloads/RestAssuredTesting/src/test/java/com/qaCart/testCases/testInfo.java">
        <classes>
            <class name="com.qaCart.testCases.testInfo">
                <methods>
                    <include name="getCoursesInfo"/>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>  
    </test>
</suite>